:root {
  --blue-900: #071A2B;
  --blue-800: #0B2942;
  --blue-700: #0F3D63;
  --blue-600: #155A8A;
  --blue-500: #1E73AD;
  --blue-400: #3B8FC4;

  --gray-950: #0B0F14;
  --gray-900: #151B22;
  --gray-800: #202830;
  --gray-700: #303A44;
  --gray-600: #4A5661;
  --gray-400: #89959F;
  --gray-300: #B4BEC6;
  --gray-200: #D6DCE0;
  --gray-100: #EEF1F3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  appearance: none;
  border: none;
  background: none;

  font: inherit;
  color: inherit;

  padding: 0;
  margin: 0;

  border-radius: 0.5rem;
}

body {
  color: var(--gray-100);
  background: var(--blue-600);

  overflow-x: hidden;
}

.App {
  display: flex;

  width: 100%;
  min-height: 100vh;
}

.outlet {
  flex: 1;
  min-width: 0;

  padding: 1rem;
}

aside {
  /*
   * Don't give the sidebar a fixed width.
   * Its contents determine how wide it needs to be.
   */
  width: max-content;
  min-width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--blue-800);
  color: var(--gray-200);
  white-space: nowrap;
  overflow: hidden;
  z-index: 100;
  transition:
    width 0.3s ease,
    padding 0.3s ease;
}

aside.collapsed {
  width: 0;

  padding-left: 0;
  padding-right: 0;
}

aside .openSidebar {
  width: fit-content;

  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  flex-shrink: 0;
}

aside .openSidebar:hover {
  background-color: var(--blue-700);
}

aside.collapsed .openSidebar {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 101;
}

.openLinks {
  width: max-content;
  min-width: 100%;
}

button.trigger {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;

  padding: 0.5rem 1rem;

  font-size: large;

  white-space: nowrap;

  cursor: pointer;
}

button.trigger:hover:not(.active) {
  background-color: var(--blue-700);
}

button.trigger.active {
  background-color: var(--blue-700);
}

button.trigger img {
  width: 1rem;
  height: 1rem;

  object-fit: contain;

  flex-shrink: 0;
}

aside .nestedLinks {
  display: flex;
  flex-direction: column;

  width: max-content;
  min-width: 100%;

  margin-left: 2rem;
}

.nestedLink {
  padding: 0.25rem 0;

  white-space: nowrap;

  color: var(--gray-200);
}

.nestedLink:hover {
  text-decoration: underline;
}

.nestedLink.active {
  color: var(--blue-400);
}

aside svg {
  flex-shrink: 0;
}